{
    "user_data_dir":"",
    "headless":false,
    "Chrome_profile_name":"",
    "ytdlp_binary_path":"",
    "vlc_binary_path":"",
    "chrome_binary_path":"",
    "mmdeviceId":"",
    "StartCallText":""
}